<div class="col-xs-2 col-xs-push-10" style="padding:0 8px 0 0; text-align:center">
    <img title="{{chat.nickname}}" src="{{getPhoto(chat.photo)}}" class="img-circle" style="width:50px; height:50px">
</div>
<div class="col-xs-10 col-xs-pull-2">
    <div class="panel panel-default">
        <div class="panel-body" style="text-align:left; word-wrap:break-word">
            <p class="prvmsg-sent" ng-bind-html="chat.message | trustAsHtml"
                style="margin:0; font-size:1.2em"></p>
        </div>
    </div>
    <p class="text-muted pull-right"><small>{{ chat.date||randomDate() | date:'h:mma' }}</small></p>
</div>
