<div id="textchatleftmenu" ng-init="onload()" style="border:1px solid #f94753; border-radius:4px">
    <div class="modal-header" style="border-bottom:1px solid #f94753; padding:6px">
        <h4 class="text-info text-center" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin:0">
            {{chat.nickname}}
        </h4>
    </div>
    <div class="modal-body">
        <div class="list-group" style="width:180px; margin-bottom:0">
            <a ng-click="onClick(0)" class="list-group-item" style="border:0; padding:6px; cursor:pointer">
                Private Chat<i class="fa fa-envelope-o pull-right" aria-hidden="true" style="margin-top:3px; color:green"></i>
            </a>
            <a ng-click="onClick(2)"  class="list-group-item" style="border:0; padding:6px; cursor:pointer">
                Give a Gift<i class="fa fa-gift pull-right" aria-hidden="true" style="margin-top:3px; color:green"></i>
            </a>
        </div>
    </div>
</div>
